<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Metadata -->
	{{ if (eq .Title .Site.Title) }}
		{{ with $title := .Title }}
			<title>{{ . }}</title>
			<meta property="og:title" content="{{ . }}">
		{{ end }}
	{{ else }}
		{{ with $title := printf "%s — %s" .Title .Site.Title }}
			<title>{{ . }}</title>
			<meta property="og:title" content="{{ . }}">
		{{ end }}
	{{ end }}
	
	{{ with .Site.Params.description }}
		<meta name="description" content="{{ . }}">
		<meta property="og:description" content="{{ . }}">
	{{ end }}
	{{ with .Site.Params.author }}
		<meta name="author" content="{{ . }}">
	{{ end }}
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta property="og:type" content="{{ .Site.Params.type }}">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	{{ with .Site.Params.logo }}
		<meta property="og:image" content="{{ . }}">
	{{ end }}

	<!-- Stylesheet -->
	<style type=text/css>body{font-family:Inter,sans-serif;}</style>
	<link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}

	<!-- RSS -->
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}

	<!-- JS -->
	<script src='{{ "js/script.js" | relURL }}'></script>
</body>
</html>
