<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Metadata -->
	{{ if .IsHome }}
		{{ with $title := printf "%s" .Site.Title }}
			<title>{{ . }}</title>
			<meta property="og:title" content="{{ . }}">
		{{ end }}
	{{ else }}
		{{ with $title := printf "%s" .Title }}
			<title>{{ . }}</title>
			<meta property="og:title" content="{{ . }}">
		{{ end }}
	{{ end }}
	
	{{ if .IsHome }}
		{{ with $desc := printf "%s" .Site.Params.description }}
			<meta name="description" content="{{ . }}">
			<meta property="og:description" content="{{ . }}">
		{{ end }}
	{{ else if eq .Kind "term" }}
		{{ if eq .Data.Singular "tag" }}
			{{ with $desc := printf "Archive for entries tagged with \"%s\"" .Data.Term }}
				<meta name="description" content="{{ . }}">
				<meta property="og:description" content="{{ . }}">
			{{ end }}
		{{ else if eq .Data.Singular "category" }}
			{{ with $desc := printf "Archive for entries posted in %s %s" .Data.Term .Data.Singular }}
				<meta name="description" content="{{ . }}">
				<meta property="og:description" content="{{ . }}">
			{{ end }}
		{{ else }}
			{{ with $desc := printf "Archive for entries in %s %s" .Data.Term .Data.Singular }}
				<meta name="description" content="{{ . }}">
				<meta property="og:description" content="{{ . }}">
			{{ end }}
		{{ end }}
	{{ else if eq .Kind "taxonomy" }}
		{{ with $desc := printf "Archive for %s" .Data.Plural }}
			<meta name="description" content="{{ . }}">
			<meta property="og:description" content="{{ . }}">
		{{ end }}
	{{ else }}
		{{ if .Description  }}
			<meta name="description" content="{{ .Description }}">
			<meta property="og:description" content="{{ .Description }}">
		{{ else if .Summary }}
			<meta name="description" content="{{ .Summary }}">
			<meta property="og:description" content="{{ .Summary }}">
		{{ else }}
			<meta name="description" content="{{ .Title }} on {{ .Site.Title }}">
			<meta property="og:description" content="{{ .Title }} on {{ .Site.Title }}">
		{{ end }}
	{{ end }}
	{{ with .Site.Params.author }}
		<meta name="author" content="{{ . }}">
	{{ end }}
	<meta property="og:site_name" content="{{ .Site.Title }}">
	<meta property="og:type" content="{{ .Site.Params.type }}">
	<meta property="og:url" content="{{ .Site.BaseURL }}">
	{{ with .Site.Params.logo }}
		<meta property="og:image" content="{{ . }}">
	{{ end }}

	<!-- Stylesheet -->
	<style type=text/css>body{font-family:Inter,sans-serif;}</style>
	<link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>
	{{ range .Site.Params.customCSS -}}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
	{{- end }}

	<!-- RSS -->
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}

	<!-- JS -->
	<script src='{{ "js/script.js" | relURL }}'></script>
</body>
</html>
