{{ define "main" }}
	<main>
        {{ $pagetype := .Type }} <!--  Possible return values: blog, cheatsheet (the archetypes) -->
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
        {{ partial "breadcrumb.html" . }}

		<ul id="content" style="padding-inline-start:20px">
			{{ range .Paginator.Pages }}
				{{ if eq $pagetype .Type }} <!--  if list page  -->
		        	{{ .Render "li" }}
		        {{ else }}
		        	{{ if eq .Type "blog" }}
		        		{{ .Render "li.blog" }}
		        	{{ else }}
	        			{{ .Render "li.fancy.pagetype" }}
	        		{{ end }}
		        {{ end }}
		    {{ end }}
		</ul>
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
