{{/*
    if the param value is not equal to true (i.e. "false" or "not defined") then $displayMetadata is set to true,
    else when the param value is "true" then $displayMetadata is set to false
*/}}

{{ $displayMetadata := (ne .Params.metadataHideAll true) }}
{{ $displayDate := (ne .Params.metadataHideDate true) }}

{{ if $displayMetadata }}
    {{ if or .Date .Params.tags .Params.categories }}
    <p>
        
        {{ if or $displayDate .Params.categories }}Posted {{ end }}
        {{ if $displayDate }}
            on <time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
        {{ end }}
        {{ with .Params.categories }}
            {{ range first 1 . }} in <b><a href="{{ "/cat/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b> {{- end -}}
            {{ range after 1 . -}} , <b><a href="{{ "/cat/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b> {{- end -}}
        {{ end }}
        
        {{ if .WordCount }}
            {{ if or $displayDate .Params.categories }} &middot; {{ end }}
            {{ .WordCount }} words
        {{ end }}
        {{ with .ReadingTime }}
            &middot; {{ . }} minute read
        {{ end }}
        {{ with .Params.tags }}
            <br>
            Tagged with:
            {{ range first 1 . }}
                <b><a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b>
            {{- end -}}
            {{- range after 1 . -}}
                , <b><a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b>
            {{- end -}}
        {{ end }}
    </p>
    {{ end }}
{{ end }}
