{{/* shown: DATE, CATEGORIES, and TAGS */}}

{{ $displayMetadata := (ne .Params.metadataHideAll true) }}
{{ $displayDate     := (ne .Params.metadataHideDate true) }}

{{ $isAvailableDate := (.Date) }}
{{ $isAvailableCats := (.Params.categories) }}
{{ $isAvailableTags := (.Params.tags) }}

{{ if $displayMetadata }}
    {{ if or .Date .Params.tags .Params.categories }}
    <p>
        
        {{ if and .Date $displayDate }}
            <abbr title='Posted on {{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}'><time>
            {{- .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) -}}
            </time></abbr>
        {{ end }}
        {{ with .Params.categories }}
            {{ range first 1 . }}{{ if and $isAvailableDate $displayDate }}&nbsp;&middot;&nbsp;{{ end }} In: <b><a href="{{ "/cat/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b> {{- end -}}
            {{ range after 1 . -}} , <b><a href="{{ "/cat/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b> {{- end -}}
        {{ end }}
        
        {{ with .Params.tags }}
            {{ if or (and $isAvailableDate $displayDate) $isAvailableCats }}&nbsp;&middot; {{ end }}
            {{ range first 1 . }}
                Tagged with: <b><a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b>
            {{- end -}}
            {{- range after 1 . -}}
                , <b><a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></b>
            {{- end -}}
        {{ end }}
    </p>
    {{ end }}
{{ end }}
